In [ ]:
#importa librerías
import pandas as pd
import matplotlib.pyplot as plt

# Descripción de Variables

Pregnancies : Quantitativa Discreta  
Glucose : Quantitativa Continua  
BloodPressure : Quantitativa Continua  
SkinThickness : Quantitativa Continua  
Insulin : Quantitativa Continua  
BMI (Body Mass Index) : Quantitativa Continua  
DiabetesPedigreeFunction : Quantitativa Continua  
Age : Quantitativa Discreta  
Outcome (0 = No diabetes, 1 = Diabetes) : Categórica Nominal

In [5]:
#Leer archivo
diabetes = pd.read_csv("diabetes.csv")

In [6]:
#Usa función shape para revisar el total de renglones y columnas
diabetes.shape

(768, 9)

In [9]:
#Mostrar los primeros datos
diabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [14]:
#Mostrar los ultimos datos
diabetes.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [12]:
rangos = diabetes.agg(['min', 'max']).T.rename(columns={'min':'Min','max':'Max'})
rangos

                             Min     Max
Pregnancies                0.000   17.00
Glucose                    0.000  199.00
BloodPressure              0.000  122.00
SkinThickness              0.000   99.00
Insulin                    0.000  846.00
BMI                        0.000   67.10
DiabetesPedigreeFunction   0.078    2.42
Age                       21.000   81.00
Outcome                    0.000    1.00

In [13]:
# Promedio, mediana, desviacion estandar, minimo, y maximo.
resumen = pd.DataFrame({
    "count": diabetes.count(),
    "mean": diabetes.mean(numeric_only=True),
    "median": diabetes.median(numeric_only=True),
    "std": diabetes.std(numeric_only=True),
    "min": diabetes.min(numeric_only=True),
    "max": diabetes.max(numeric_only=True)
}).round(2)
resumen

                          count    mean  median     std    min     max
Pregnancies                 768    3.85    3.00    3.37   0.00   17.00
Glucose                     768  120.89  117.00   31.97   0.00  199.00
BloodPressure               768   69.11   72.00   19.36   0.00  122.00
SkinThickness               768   20.54   23.00   15.95   0.00   99.00
Insulin                     768   79.80   30.50  115.24   0.00  846.00
BMI                         768   31.99   32.00    7.88   0.00   67.10
DiabetesPedigreeFunction    768    0.47    0.37    0.33   0.08    2.42
Age                         768   33.24   29.00   11.76  21.00   81.00
Outcome                     768    0.35    0.00    0.48   0.00    1.00